<div class="follow">
  <h3 class="follow-title"><i class="fa fa-check fa-green"></i>フォロー中<span class="count">・<%= @user.followed_users.count %>人</span></h3>
  <ul>
    <% @user.followed_users.each do |user| %>
    <li>
      <p class="follow-user-img"><%= profile_img(user) %></p>
      <p class="follow-user-name"><%= link_to user.name, user %></p>
    </li>
    <% end %>
  </ul>
</div>
