<div class="container">
  <h3 class="left">フォロワー</h3>
  <% @user.followers.each do |user| %>
    <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
      <%= profile_img(user)%>
      <%= user.email %>
      <%= render 'follow_form', user: user %>
    </div>
  <% end %>
</div>
