<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <h2 class="friends">知り合いかも</h2>

    <% @users.each do |user| %>
      <div class="row-friends">
        <% if user.id != current_user.id %>
          <%= profile_img(user) %>
          <%= link_to user.name, user %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %></li>
            <li class="li-friends"><%= render partial: 'follow_form', locals: { user: user } if signed_in? %></li>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
