<div class="container">
  <header class="user-show">
    <section class="user-show-profile-img">
      <%= profile_img(@user) %>
    </section>
    <section class="main-header">
      <p><%= @user.name %></p>
    </section>
  </header>

      <%= render 'followed' %>
      <%= render 'followers' %>



</div>
