header {
  width: 100%;
  background-color: #3B5998;
  height: 51px;
  color: white;
}

.fa-nav:before {
	color: #17233D ;
  padding: 10px;
}

.fa-logo:before {
	color: white ;
}

.logo {
  margin-top: 10px;
  margin-left: 20px;
}

.flash {
  color: white;
  padding-top: 10px;
}

.field-new{
  margin-top: 10px;
}

.btn-primary-outline {
  height: 35px;
  background-color: white;
  font-size: xx-large;
  font-family: Tahoma;
  color: #3B5998;
  padding: 0px 7px 0px 18px;
  margin-top: 5px;
  border: 0;
  &:hover {
    color: #3B5998;
  }
}

.navbar-default {
    border: 0;
}

.navbar-login {
  margin-top: 15px;
}

.navbar-login-remember {
  margin-top: 30px;
}

.navbar {
    background-color: #3B5998;
    color: white;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    padding: 7px 10px 12px 10px;
    color: white;
    &:hover {
      color: white;
      background-color: #365899;
    }
  }
  .navbar-brand-logo {
    font-size: xx-large;
    font-family: arial black;
    color: white;
    &:hover {
      color: white;
      background-color: #365899;
      text-decoration: none;
    }
  }
  .navbar-nav > li > a {
    color: white;
    &:hover, &:focus {
      color: white;
      background-color: #365899;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.dropdown-menu {
  background-color: white;
  border: 0px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color: white;
  background-color: #3B5998;
}

.flex {
	display: flex;
	justify-content: center;
  list-style: none;
}

.registrations {
  padding: 50px;
}

.about {
  background-color: #E9EBEE;
  color: #333;
  padding-top: 50px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: white;
  color: black;
  margin: auto;
  position: absolute;
  bottom: 0;
  p {
    padding: 15px;
    margin: 0;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  background-color: #E9EBEE;
}
