// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friends {
  font-size: medium;
  padding: 15px;
  background-color: white;
  text-align: left;
  margin-bottom: 0;
}
.row-friends {
  background-color: white;
  border-bottom: 1px solid #ccc;
  padding: 5px 15px 10px 15px;
  text-align: left;
  word-wrap: break-word;
  img {
    width: 80px;
    height: 80px;
  }
}

.li-friends {
  padding-top: 10px;
  padding-right: 20px;
}

.profile {
  width: 50px;
  height: 50px;
}

.user-show {
  width: 1000px;
  margin-bottom: 50px;
  background-color: #1DA1F2;
  height: 190px;
  color: white;
  font-size: large;
  margin-right: auto;
  margin-left: auto;
}

.user-show-profile-img {
  margin: 70px 30px 30px 30px;
  float: left;
  img {
    width: 150px;
    height: 150px;
  }
}

.main-header {
  font-size: x-large;
  list-style: none;
  display: block;
  text-decoration: none;
  font: white;
  position: relative;
  ul {
    padding-top: 150px;
  }
  li {
    display: inline-block;
  }
}

.li-left {
  float: left;
}

.li-right {
  float: right;
  padding-right: 20px;
}

.users-show {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.user-main {
  width: 1400px;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
}

.subBox  {
    float: left;
    width: 300px;
    background-color: white;
    padding: 30px 5px;
    margin-left: 80px;
}

.mainBox {
    float: right;
    width: 600px;
    background-color: #E9EBEE;
    padding: 10px 5px;
    margin-right: 350px;
}

.follow-title {
  font-size: large;
  text-align: left;
}

.fa-green:before {
  color: #A5D950;
}

.fa-pink:before {
  color: #F50E6B;
}

.follow {
  li {
    display: inline-block;
  }
}

ul {
  list-style: none;
}

.follow-user-name {
  font-size: x-small;
  margin: 0;
}

.follow-user-img {
  margin: 0;
  img {
    width: 80px;
    height: 80px;
  }
}

.count {
  color: #90949C;
  font-size: small;
}
